<html>
  <head><title>TO-DO Application</title></head>
  <body>
    <div class="alert alert-dismissible fade show w-25 alert-custom"
         [innerHTML]="alertText"
    [ngClass]="{'d-block': showAlert,'d-none': !showAlert, 'alert-success': alertType === 'success',
    'alert-danger': alertType === 'error', 'alert-info': alertType === 'info'}">
    </div>
    <div class="loader" [ngClass]="{'d-block' : isLoading}">
      <div class="my-progress">
        <div class="indeterminate"></div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </body>
</html>